.blog-child .card-service:nth-child(even){
    background-color: rgb(235 236 242 / var(--tw-bg-opacity));
    color: rgb(0 8 20 / var(--tw-text-opacity));
  }
  
  .blog-child .card-service:nth-child(odd){
    background-color: rgb(53 112 255 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }